
1 VERSIONINFO
FILEVERSION	${FILEVERSION}
PRODUCTVERSION ${PRODUCTVERSION}
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
    BLOCK "040904B0"
    {
    ${block}
    }
}
BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0
    }
}